
@media (hover: hover) {
  body:not(.lil-gui-dragging) .lil-gui .title:hover {
    background: #facccc;
    color: #000;
    opacity: 0.85;
}
}


.lil-gui.root > .title {
  -webkit-app-region: drag;
}
select{
  margin: 40px;
  background:#ffffff;
  color: #000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
  body {
    font: 6.5px sans-serif;
    margin: 0px;
    -webkit-user-select: none;
  }
  
  .lil-gui {
    color: #000000;
    --background-color: #ffffff;
    --widget-color: #dcfdff;
    --hover-color: #ffebeb;
    --focus-color: #f6cdcd;
    --text-color: #000000;

  }
 
  .lil-gui.autoPlace {
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100vw;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .display{
    width:100% ;
  }
  
  .x.axis path {
    display: none;
  }
  
  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  #container{
    width:950px;
  
  }

  #all_vis{
    text-align: -webkit-center;
  }
  
  .flex-container {
    margin-top:180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .entry{
   margin-top: 200px;
  }

  #start_test{
    text-align: -webkit-center;
  }

  .button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #main_control_pannel{
    width:100%;
    text-align: center;    
  }

  #test_mode{
    text-align: center;    
    font-size: 2em;
  }
  /* .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  } */


  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

  }
  
  .footer-flex{
    display: flex;
    margin-left: auto;
  }

  a{
    margin-left: 5px;
    margin-right: 5px;
  }

  .footer-flex-container>:first-child{
    margin-left: 5px;
  }

  .footer-flex-container{
    display: flex;
    color: black;
    font-size: 2em;;
  }


li{
  font-size: 3em;
  height:75px;
  vertical-align: center;
}

